In [ ]:
d0 = "regression weak classification intelligence kernel"
d1 = "network weights weak classification"
d2 = "regression weak tangent"
d3 = "weak classification artificial"

query = "regression weak tangent intelligence"

In [ ]:
d0 = "regression weak classification intelligence kernel"
d0.count("regression")

1

In [ ]:
list(set(d0.split() + d1.split() + d2.split() + d3.split()))

['classification',
 'tangent',
 'artificial',
 'intelligence',
 'network',
 'weak',
 'weights',
 'regression',
 'kernel']

In [ ]:
word_bag  = list(set(d0.split() + d1.split() + d2.split() + d3.split() ))
print(word_bag )

['classification', 'tangent', 'artificial', 'intelligence', 'network', 'weak', 'weights', 'regression', 'kernel']

In [ ]:
corpus=[d0, d1, d2, d3]
corpus

['regression weak classification intelligence kernel',
 'network weights weak classification',
 'regression weak tangent',
 'weak classification artificial']

In [ ]:
corpus_with_query=[d0, d1, d2, d3,query]
corpus_with_query

['regression weak classification intelligence kernel',
 'network weights weak classification',
 'regression weak tangent',
 'weak classification artificial',
 'regression weak tangent intelligence']

In [ ]:
import pandas as pd
data = list()

for d in corpus_with_query:
  sen = {}
  for wb in word_bag:
    cnt = d.count(wb)
    sen[wb] = cnt
  print(sen)
  data.append(sen) 

df = pd.DataFrame(data, index = ['d0','d1','d2','d3','query']).transpose()
df

{'classification': 1, 'tangent': 0, 'artificial': 0, 'intelligence': 1, 'network': 0, 'weak': 1, 'weights': 0, 'regression': 1, 'kernel': 1}
{'classification': 1, 'tangent': 0, 'artificial': 0, 'intelligence': 0, 'network': 1, 'weak': 1, 'weights': 1, 'regression': 0, 'kernel': 0}
{'classification': 0, 'tangent': 1, 'artificial': 0, 'intelligence': 0, 'network': 0, 'weak': 1, 'weights': 0, 'regression': 1, 'kernel': 0}
{'classification': 1, 'tangent': 0, 'artificial': 1, 'intelligence': 0, 'network': 0, 'weak': 1, 'weights': 0, 'regression': 0, 'kernel': 0}
{'classification': 0, 'tangent': 1, 'artificial': 0, 'intelligence': 1, 'network': 0, 'weak': 1, 'weights': 0, 'regression': 1, 'kernel': 0}

                d0  d1  d2  d3  query
classification   1   1   0   1      0
tangent          0   0   1   0      1
artificial       0   0   0   1      0
intelligence     1   0   0   0      1
network          0   1   0   0      0
weak             1   1   1   1      1
weights          0   1   0   0      0
regression       1   0   1   0      1
kernel           1   0   0   0      0

In [ ]:
# for i in range(4):
#   colname = 'd'+str(i)
#   col = 'tf'+str(i)
#   df[col] = df[colname] / sen_word_count[i]
# df

In [ ]:
df['docfreq'] = df['d0'] + df['d1'] + df['d2'] + df['d3']
df

                d0  d1  d2  d3  query  docfreq
classification   1   1   0   1      0        3
tangent          0   0   1   0      1        1
artificial       0   0   0   1      0        1
intelligence     1   0   0   0      1        1
network          0   1   0   0      0        1
weak             1   1   1   1      1        4
weights          0   1   0   0      0        1
regression       1   0   1   0      1        2
kernel           1   0   0   0      0        1

In [ ]:
import numpy as np

df['global_weights'] = np.log10((len(corpus))/df['docfreq'])
df

                d0  d1  d2  d3  query  docfreq  global_weights
classification   1   1   0   1      0        3        0.124939
tangent          0   0   1   0      1        1        0.602060
artificial       0   0   0   1      0        1        0.602060
intelligence     1   0   0   0      1        1        0.602060
network          0   1   0   0      0        1        0.602060
weak             1   1   1   1      1        4        0.000000
weights          0   1   0   0      0        1        0.602060
regression       1   0   1   0      1        2        0.301030
kernel           1   0   0   0      0        1        0.602060

In [ ]:
import numpy as np
for i in range(4):
  tf  = 'd'+str(i)
  col = 'tf_idf'+str(i)
  df[col] = df[tf] * df['global_weights'] 


df['tf_idf_query'] = df['query'] * df['global_weights'] 
df

,d0,d1,d2,d3,query,docfreq,global_weights,tf_idf0,tf_idf1,tf_idf2,tf_idf3,tf_idf_query
classification,1,1,0,1,0,3,0.124939,0.124939,0.124939,0.00000,0.124939,0.00000
tangent,0,0,1,0,1,1,0.602060,0.000000,0.000000,0.60206,0.000000,0.60206
artificial,0,0,0,1,0,1,0.602060,0.000000,0.000000,0.00000,0.602060,0.00000
intelligence,1,0,0,0,1,1,0.602060,0.602060,0.000000,0.00000,0.000000,0.60206
network,0,1,0,0,0,1,0.602060,0.000000,0.602060,0.00000,0.000000,0.00000
weak,1,1,1,1,1,4,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
weights,0,1,0,0,0,1,0.602060,0.000000,0.602060,0.00000,0.000000,0.00000
regression,1,0,1,0,1,2,0.301030,0.301030,0.000000,0.30103,0.000000,0.30103
kernel,1,0,0,0,0,1,0.602060,0.602060,0.000000,0.00000,0.000000,0.00000

In [ ]:
d0 = "king palace jungle sleeps"
d1 = "jungle lion fire king discovery"
d2 = "king timon mufasa"
d3 = "timon lion simba"

query = "lion king"

In [ ]:
word_bag = list(set(d0.split() + d1.split() + d2.split() + d3.split() ))
word_bag

['fire',
 'sleeps',
 'jungle',
 'king',
 'palace',
 'mufasa',
 'timon',
 'simba',
 'discovery',
 'lion']

In [ ]:
corpus=[d0, d1, d2, d3]
corpus

['king palace jungle sleeps',
 'jungle lion fire king discovery',
 'king timon mufasa',
 'timon lion simba']

In [ ]:
corpus_with_query =[d0, d1, d2, d3,query]
corpus_with_query

['king palace jungle sleeps',
 'jungle lion fire king discovery',
 'king timon mufasa',
 'timon lion simba',
 'lion king']

In [ ]:
import pandas as pd
data = list()

for d in corpus_with_query:
  sen = {}
  for wb in word_bag:
    cnt= d.count(wb)

    sen[wb] = cnt
  data.append(sen) 

df = pd.DataFrame(data, index = ['d0','d1','d2','d3','query']).transpose()
df

           d0  d1  d2  d3  query
fire        0   1   0   0      0
sleeps      1   0   0   0      0
jungle      1   1   0   0      0
king        1   1   1   0      1
palace      1   0   0   0      0
mufasa      0   0   1   0      0
timon       0   0   1   1      0
simba       0   0   0   1      0
discovery   0   1   0   0      0
lion        0   1   0   1      1

In [ ]:
# for i in range(4):
#   colname = 'd'+str(i)
#   col = 'tf'+str(i)
#   df[col] = df[colname] / sen_word_count[i]
# df

In [ ]:
df['docfreq'] = df['d0'] + df['d1'] + df['d2'] + df['d3']
df

           d0  d1  d2  d3  query  docfreq
fire        0   1   0   0      0        1
sleeps      1   0   0   0      0        1
jungle      1   1   0   0      0        2
king        1   1   1   0      1        3
palace      1   0   0   0      0        1
mufasa      0   0   1   0      0        1
timon       0   0   1   1      0        2
simba       0   0   0   1      0        1
discovery   0   1   0   0      0        1
lion        0   1   0   1      1        2

In [ ]:
df['global_weights'] = np.log10((len(corpus))/df['docfreq'])
df

           d0  d1  d2  d3  query  docfreq  global_weights
fire        0   1   0   0      0        1        0.602060
sleeps      1   0   0   0      0        1        0.602060
jungle      1   1   0   0      0        2        0.301030
king        1   1   1   0      1        3        0.124939
palace      1   0   0   0      0        1        0.602060
mufasa      0   0   1   0      0        1        0.602060
timon       0   0   1   1      0        2        0.301030
simba       0   0   0   1      0        1        0.602060
discovery   0   1   0   0      0        1        0.602060
lion        0   1   0   1      1        2        0.301030

In [ ]:
# import numpy as np
# for i in range(4):
#   col = 'idf'+str(i)
#   df[col] = np.log10((len(corpus))/df['docfreq'])
# df

In [ ]:
for i in range(4):
  tf  = 'd'+str(i)
  col = 'tf_idf'+str(i)
  df[col] = df[tf] * df['global_weights'] 

df['tf_idf_query'] = df['query'] * df['global_weights'] 
df

,d0,d1,d2,d3,query,docfreq,global_weights,tf_idf0,tf_idf1,tf_idf2,tf_idf3,tf_idf_query
fire,0,1,0,0,0,1,0.602060,0.000000,0.602060,0.000000,0.00000,0.000000
sleeps,1,0,0,0,0,1,0.602060,0.602060,0.000000,0.000000,0.00000,0.000000
jungle,1,1,0,0,0,2,0.301030,0.301030,0.301030,0.000000,0.00000,0.000000
king,1,1,1,0,1,3,0.124939,0.124939,0.124939,0.124939,0.00000,0.124939
palace,1,0,0,0,0,1,0.602060,0.602060,0.000000,0.000000,0.00000,0.000000
mufasa,0,0,1,0,0,1,0.602060,0.000000,0.000000,0.602060,0.00000,0.000000
timon,0,0,1,1,0,2,0.301030,0.000000,0.000000,0.301030,0.30103,0.000000
simba,0,0,0,1,0,1,0.602060,0.000000,0.000000,0.000000,0.60206,0.000000
discovery,0,1,0,0,0,1,0.602060,0.000000,0.602060,0.000000,0.00000,0.000000
lion,0,1,0,1,1,2,0.301030,0.000000,0.301030,0.000000,0.30103,0.301030

In [ ]:
# Rocchio feedback beween D1 and D3 

def Rocchio(alpha, beta, gamma):
  rocchio = (alpha * df['tf_idf_query']) + ( beta * df['tf_idf1']) - (gamma * df['tf_idf3'] )
  return rocchio

alpha= 1
beta= 0.8
gamma= 0.1

Rocchio(alpha, beta, gamma)

fire         0.481648
sleeps       0.000000
jungle       0.240824
king         0.224890
palace       0.000000
mufasa       0.000000
timon       -0.030103
simba       -0.060206
discovery    0.481648
lion         0.511751
dtype: float64

In [ ]:
# Rocchio feedback beween D1 and D3 

def Rocchio(alpha, beta, gamma):
  rocchio = (alpha * df['tf_idf_query']) + ( beta * df['tf_idf1']) - (gamma * df['tf_idf3'] )
  return rocchio

alpha= 1
beta= 0.1
gamma= 0.9

Rocchio(alpha, beta, gamma)

simba       -0.541854
king         0.137433
palace       0.000000
timon       -0.270927
mufasa       0.000000
fire         0.060206
lion         0.060206
sleeps       0.000000
discovery    0.060206
jungle       0.030103
dtype: float64

In [ ]:
# Rocchio feedback beween D1 and D3 

def Rocchio(alpha, beta, gamma):
  rocchio = (alpha * df['tf_idf_query']) + ( beta * df['tf_idf1']) - (gamma * df['tf_idf3'] )
  return rocchio

alpha= 1
beta= 1
gamma= 1

Rocchio(alpha, beta, gamma)

simba       -0.602060
king         0.249877
palace       0.000000
timon       -0.301030
mufasa       0.000000
fire         0.602060
lion         0.301030
sleeps       0.000000
discovery    0.602060
jungle       0.301030
dtype: float64

In [ ]:
D1= "shall see sun soon"
D2= "we shall see sun shine soon"

def intersection(a,b):
  return set(set(a.split()) & set(b.split()))

def union(a,b):
  return set(a.split() + b.split())


jaccard_similarity = len(intersection(D1,D2)) / len(union(D1,D2))

print('jaccard_similarity ',jaccard_similarity)

jaccard_similarity  0.6666666666666666

In [ ]:
D1= "shall see sun soon"
D2= "we shall see sun shine soon"


D1 = {i for i in D1.split()}
D2 = {i for i in D2.split()}

jaccard_similarity = len(D1.intersection(D2)) / len(D1.union(D2))
jaccard_similarity

0.6666666666666666